AmazonTest.Client.HostStatistics/Service References/FleetService/FleetService4.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/AmazonTest.Service.Models.Host" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/AmazonTest.Service.Models.Host" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:49830/FleetService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/Backbone.Services.Results" />
  <xs:complexType name="FleetRequest">
    <xs:sequence>
      <xs:element minOccurs="0" name="FileLocation" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="FleetRequest" nillable="true" type="tns:FleetRequest" />
  <xs:complexType name="FleetResult">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q1="http://schemas.datacontract.org/2004/07/Backbone.Services.Results" base="q1:GenericServiceResult">
        <xs:sequence>
          <xs:element minOccurs="0" name="Hosts" nillable="true" type="tns:ArrayOfHostDto" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="FleetResult" nillable="true" type="tns:FleetResult" />
  <xs:complexType name="ArrayOfHostDto">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="HostDto" nillable="true" type="tns:HostDto" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfHostDto" nillable="true" type="tns:ArrayOfHostDto" />
  <xs:complexType name="HostDto">
    <xs:sequence>
      <xs:element minOccurs="0" name="FilledSlots" type="xs:int" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Instance" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="N" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="HostDto" nillable="true" type="tns:HostDto" />
</xs:schema>