AmazonTest.Client.HostStatistics/Service References/HostSummaryService/HostSummaryService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/AmazonTest.Service.Models.Host" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/AmazonTest.Service.Models.Host" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:49830/HostSummaryService.svc?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:complexType name="HostSummaryRequest">
    <xs:sequence>
      <xs:element minOccurs="0" name="Hosts" nillable="true" type="tns:ArrayOfHostDto" />
      <xs:element minOccurs="0" name="SummaryFileLocation" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="HostSummaryRequest" nillable="true" type="tns:HostSummaryRequest" />
  <xs:complexType name="ArrayOfHostDto">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="HostDto" nillable="true" type="tns:HostDto" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfHostDto" nillable="true" type="tns:ArrayOfHostDto" />
  <xs:complexType name="HostDto">
    <xs:sequence>
      <xs:element minOccurs="0" name="FilledSlots" type="xs:int" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Instance" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="N" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="HostDto" nillable="true" type="tns:HostDto" />
  <xs:complexType name="HostSummaryResult">
    <xs:sequence>
      <xs:element xmlns:q1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="Notifications" nillable="true" type="q1:ArrayOfanyType" />
      <xs:element xmlns:q2="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="SummarizedHosts" nillable="true" type="q2:ArrayOfKeyValueOfstringArrayOfHostDtoAPrydh1H" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="HostSummaryResult" nillable="true" type="tns:HostSummaryResult" />
</xs:schema>