AmazonTest.Client.HostStatistics/Service References/HostSummaryService/HostSummaryService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:49830/HostSummaryService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/AmazonTest.Service.Models.Host" />
  <xs:element name="SummarizeHostStatistics">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/AmazonTest.Service.Models.Host" minOccurs="0" name="request" nillable="true" type="q1:HostSummaryRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SummarizeHostStatisticsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/AmazonTest.Service.Models.Host" minOccurs="0" name="SummarizeHostStatisticsResult" nillable="true" type="q2:HostSummaryResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>